<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"  
	xmlns:sec="http://www.springframework.org/schema/security"  
    xmlns:cxf="http://cxf.apache.org/core"  
    xmlns:wsa="http://cxf.apache.org/ws/addressing" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	                     http://www.springframework.org/schema/context
	                     http://www.springframework.org/schema/context/spring-context-3.2.xsd
	                     http://www.springframework.org/schema/aop
	                     http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	                     http://www.springframework.org/schema/tx
	                     http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	                     http://www.springframework.org/schema/task
	                     http://www.springframework.org/schema/task/spring-task-3.2.xsd
	                     http://www.springframework.org/schema/mvc
	                     http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	                     http://cxf.apache.org/jaxws
	                     http://cxf.apache.org/schemas/jaxws.xsd
	                     http://cxf.apache.org/core
	                     http://cxf.apache.org/schemas/core.xsd
	                     http://cxf.apache.org/ws/addressing
	                     http://cxf.apache.org/schemas/addressing.xsd" default-autowire="byName">
	               
 	<import resource="classpath:META-INF/cxf/cxf.xml" />  
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />  
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!--开启注解处理器-->
	<context:annotation-config/>
	<!-- 扫描com.novots.examination包下所有的类 -->
	<context:component-scan base-package="me.huqiao.wss">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	<!-- 任务驱动 -->
	<task:annotation-driven/>
		
	<!-- 配置jdbc.properties文件目录 -->
	<context:property-placeholder location="classpath:*.properties" />
	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}" />    
		<property name="jdbcUrl" value="${jdbc.url}"/>     
		<property name="user" value="${jdbc.username}"/>     
		<property name="password" value="${jdbc.password}" />    
		<property name="preferredTestQuery" value="${preferredTestQuery}"/>
		<property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}"/>
		<property name="testConnectionOnCheckout" value="${testConnectionOnCheckout}"/>
	</bean> 
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.max_fetch_depth">${hibernate.maxFetchDepth}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
				<prop key="hibernate.cache.use_query_cache">${cache.use_query_cache}</prop>
				<prop key="hibernate.cache.use_second_level_cache">${cache.use_second_level_cache}</prop>
				<prop key="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</prop>
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">${hibernate.temp.use_jdbc_metadata_defaults}</prop>
			</props>
		</property>
		<property name="packagesToScan" value="me.huqiao.wss.**.entity"/>
	</bean>
	
	<!-- 事务管理对象 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 配置事务拦截对象 -->
	<tx:advice id="advice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 以add开头的方法支持事务，如果没有事务就新建一个事务-->
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="setPrivilegeDept*" propagation="REQUIRED" />
			<tx:method name="zeroClockCheck*" propagation="REQUIRED" />
			<tx:method name="setPrivilege*" propagation="REQUIRED" />
			<tx:method name="setRoles*" propagation="REQUIRED" />
			<tx:method name="setAreas*" propagation="REQUIRED" />
			<tx:method name="setServiceTypeGroups*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="remove" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="conversion" propagation="REQUIRED" />
			<tx:method name="importExcel*" propagation="REQUIRED"/>
			<tx:method name="employeeRegularDateRegularTask*" propagation="REQUIRED"/>
			<tx:method name="calcuteBalance*" propagation="REQUIRED"/>
			<tx:method name="updateBalance*" propagation="REQUIRED"/>
			<tx:method name="updateStorageNum*" propagation="REQUIRED"/>
			<!-- 其它方法也支持事务，但数据是只读的（不能更改）-->
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	<!--配置事务切入点 -->
	<aop:config>
		<aop:pointcut expression="execution(* me.huqiao.wss.**.service.impl.*.*(..))"
			id="transactionPointcut"/>
		<aop:advisor pointcut-ref="transactionPointcut" advice-ref="advice" />
	</aop:config>
	<!-- 注解方式事务配置 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="messageSource"  class="org.springframework.context.support.ResourceBundleMessageSource">  
      <property name="basename" value="messages"/>
    </bean>
    <bean id="localeResolver" class="me.huqiao.wss.i18n.MySessionLocaleRsolver"/>
</beans>
